*{
  margin: 0;
  padding: 0;
  font-family: 'Pontano Sans', 'Arial', sans-serif;
}
ul{
  list-style: none;
}
li a{
  text-decoration: none;
  text-align: center;
  color: #fff;
}

/*background do body*/
body{
  background-image: linear-gradient(45deg,rgba(245, 155, 53,0.1) 5%, transparent), url("../img/logo2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #733e8e;
	height: 100vh;
	width: 100%;
	padding: 0;
	display: grid;
  grid-template-columns:auto;
  grid-template-rows: 70px auto 60px;
  grid-template-areas:
    "cabeçalho"
    "main"
    "footer";
}
@media all and (max-width: 450px){
  body{
    background-image: none;
    grid-template-areas:
    "main"
    "cabeçalho"
    "footer";
  }
}
main.principal{
  grid-area:main;
}
footer{
  grid-area:footer;
}

/*header - menu*/ 
header.menu{
  grid-area: cabeçalho;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.menu img{
  height:60px;
  width:245px;
  padding-left: 4%; 
}
@media all and (max-width: 450px){
  header.menu{
    flex-direction:column;
    justify-content:center;
    height: auto;
  }
  header.menu img{
    width: 190px;
  }
}



@media all and (min-width: 1024px){
  header.menu li a:hover{
    transition: 0.4s;
    border-bottom: solid 2px #EA9C32;
    border-top: solid 2px #EA9C32;
    font-size: 1.5em;
    color:#EA9C32;
  }
}

ul.menu.lista{ 
  padding: 0 5%;
  height: 5em;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "home the-company services contact";
  align-items: center;
  text-align: center;
}

li.home{
  grid-area:home;
}
li.the-company{
  grid-area:the-company;
}
li.services{
  grid-area:services;
}
li.contact{
  grid-area:contact;
}
@media all and (max-width: 450px){
  ul.menu.lista{
    justify-items:center;
    grid-template-areas:
    "the-company"
    "services"
    "contact";
  }
  li{
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  li.home{
    display: none;
  }
}
/*conteúdo*/
section.principal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px; 
  height: 150px;
  padding: 10% 8%;
}
section.principal a{
  text-align: right;
}

section.principal h2, section.principal h3{
  color:#fff;
}

button.saiba-mais{
  outline: none;
  border: solid 1px #b46bdb;
  width: 105px; 
  height: 35px;
  cursor: auto;
  color: #fff;
  background-color: #ef9733;
}
button.saiba-mais:hover{
  transition: 0.4s;
  color:#b46bdb;
  background-color: #fff; 
}

/*footer*/
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer .copyright{
  color: #fff;
  text-align: center;
  width: 100%;
}
footer .midia-social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
}
footer .midia-social a{
  text-align: center;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.midia-social a i{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:40px; 
  height:40px;
  color:#fff;
  border: solid 1px #b46bdb;
  border-radius: 50%;
  font-size: 1.3em;
  transition: .5s;
}

@media all and (min-width: 1024px){
  .midia-social a i:hover{
    transition: 0.4s;
    background-color:#EA9C32;
    color:#733E8E;
    animation-name: midiasocial;
    animation-delay: .2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  @keyframes midiasocial {
    0%{
    transform: rotate(0deg));
    }
    25%{
    transform: rotate(90deg));
    }
    50%{
    transform: rotate(180deg));
    }
    75%{
    transform: rotate(270deg));
    }
    100%{
      transform: rotate(360deg);
    }
  }
}