*{
	margin: 0;
	padding: 0;
	font-family: 'Pontano Sans', 'Arial', sans-serif;
}
ul{
  list-style: none;
}
li a{
  text-decoration: none;
  text-align: center;
  color: #fff;
}
h1{
	text-align: center;
	color:#733e8e;
}

/*header - menu*/

header.menu{
	height: 70px;
	display: flex;
	justify-content: space-between;
	background-color: #733e8e;
	align-items: center;
}
header.menu img{
  height:50px;
  width:160px;
  padding-left: 3%; 
}
@media all and (min-width: 1024px){
	header.menu li a:hover{
		transition: 0.4s;
		border-bottom: solid 2px #EA9C32;
		border-top: solid 2px #EA9C32;
		font-size: 1.5em;
		color:#EA9C32;
	}
}
ul.menu.lista{ 
	padding: 0 3%;
	height: 5em;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
	"home the-company services contact";
	align-items: center;
	text-align: center;
}
li.home{
  grid-area:home;
}
li.the-company{
  grid-area:the-company;
}
li.services{
  grid-area:services;
}
li.contact{
  grid-area:contact;
}
@media all and (max-width: 450px){
  header.menu img{
    display: none;
  }
}

/*todas as paginas*/
h1{
	background-color: #fff;
	border-bottom: solid 1px #b46bdb;
	grid-area: titulo;
	width: 100%;
	height: 3em;
	display: flex;
	justify-content:center;
	align-items: center;
}
body.pages{

	background-attachment: fixed;
}
section.pages{
	text-align: justify;
}
section.pages p, h2{
	padding-bottom: 5%;
}


/*A empresa*/


main#the-company{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"about"
		"client"
		"promocao";
	grid-row-gap:15px;
	padding: 20px 20%;
}
section#about{
	grid-area:about;
}
section#client{
	grid-area:client;
}
section#promocao{
	grid-area:promocao;
	text-align: center;
}
section.the-company .first{
	padding-top: 5%;
}
/*clintes*/
ul.clientes{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

ul.clientes li.cliente img{
	width:170px;
	height:170px;
	border-radius: 50%;
	border: solid 1px #000;
}
@media all and (max-width: 450px){
	main#the-company{
		padding: 0 0;
	}
}

/*serviços*/


main#service{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"tele-chamado"
		"entrega-normal"
		"entrega-expressa"
		"contrato-motociclista-fixo";
	grid-row-gap:15px;
	padding: 5% 20%;
}
section.servicos.pages{
	padding: 5% 10%;
}
section#tele-chamado.servicos{
	grid-area:tele-chamado;
}
section#entrega-normal.servicos{
	grid-area:entrega-normal;
}
section#entrega-expressa.servicos{
	grid-area:entrega-expressa;
}
section#contrato-motociclista-fixo.servicos{
	grid-area:contrato-motociclista-fixo;
}
button.saiba-mais{
	outline: none;
	border: solid 1px #b46bdb;
	width: 105px; 
	height: 35px;
	cursor: auto;
	background-color: #fff;
}
button.saiba-mais:hover{
	transition: 0.4s;
	color:#fff;
	background-color:#ef9733; 
	border: solid 1px #fff;
}
section.servicos:nth-child(odd){
	background-color: #f2edf4; 
}
section.servicos:nth-child(even){
	background-color: #fff; 
}
@media all and (max-width: 450px){
	main#service{
		padding: 5% 5%;
	}
	img.form-contato, iframe{
		display: none;
	}

}


/*contato*/


main.contatos section{
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-rows: 1fr auto;
	grid-template-columns: auto;
	grid-template-areas:
	"titulo"
	"conteudo";
	grid-row-gap:15px;
	padding: 20px 20%;
}
@media all and (max-width: 770px){
	main.contatos section{
	padding: 20px 0.9%;
	
	}
}
@media all and (max-width: 770px){
	main.contatos section{

	}
}
div.conteudo{
	grid-area: conteudo;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px 0;
}
div.conteudo#contato{
	grid-area: conteudo;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px 0;
}
form.contact_us , form.work-whith-us{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;	
	width: 360px;
	height: 360px;
}
img.form-contato{
	height: 360px;
	width: 360px;
}
input{
	outline: none;
	border: none;
	border-bottom: solid 1px #b46bdb;
	width: 90%; 
	height: 35px;
	cursor: auto;
}
textarea{
	font:'Arial';
	outline: none;
	border: none;
	border-bottom: solid 1px #b46bdb;
	width: 90%;
	height: 135px;
	cursor: auto;
}
input.btn{
	width: 100px;
	height: 45px;
	background-color: #FFF;
	border: solid 1px #b46bdb;
	color: #b46bdb;
	cursor: pointer;
	margin-top:20px;
	margin-left: 220px; 
}
input.btn:hover{
	transition: 0.4s;
	cursor: pointer;
	color: #FFF;
	background-color: #ef9733; 
	border: solid 1px #FFF;
}
ul#cont{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: justify;
	width: 100%;
	height: 65px;
	background-color: #fff;
}
@media all and (max-width: 450px){
	ul#cont{
		flex-direction: column;
	}
}

/*
<i class="fa fa-motorcycle" aria-hidden="true"></i>
*/

/*footer*/
footer{	
	background-color: #733e8e;
  	color:#fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60px;
}
footer .copyright{
  color: #fff;
  text-align: center;
  width: 100%;
}
footer .midia-social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
}
footer .midia-social a{
  text-align: center;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.midia-social a i{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:40px; 
  height:40px;
  color:#fff;
  border: solid 1px #b46bdb;
  border-radius: 50%;
  font-size: 1.3em;
  transition: .5s;
}
@media all and (min-width: 1024px){
  .midia-social a i:hover{
    transition: 0.4s;
    background-color:#EA9C32;
    color:#733E8E;
    animation-name: midiasocial;
    animation-delay: .2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  @keyframes midiasocial {
    0%{
    transform: rotate(0deg));
    }
    25%{
    transform: rotate(90deg));
    }
    50%{
    transform: rotate(180deg));
    }
    75%{
    transform: rotate(270deg));
    }
    100%{
      transform: rotate(360deg);
    }
  }
}